/* EDIT THIS TO REFELCT CHAMPIONGRID HTML PAGE */

body {
    font-family: arial;
    color: white;
    background-color: black;

}
.table th {
    border: 2px solid white;
    border-collapse: collapse;
}

.table td {
    border: 2px solid white;
    border-collapse: collapse;
    
}

th {
    padding: 5px;
    text-align: left;    
}

td { 
     padding: 5px;
    text-align: left;  
}

.champtable th {
    display: inline-block;
    padding: 5px;
    text-align: center;
    float: below;
}    
