body {
    color: white; 
    background-color: black;
    font-family: arial;
}

.boxed {
  border: 1px solid white;
  text-align: justify;
  text-justify: inter-word;
}

h1.boxed {
  font-size: 200%;
}

h2.boxed {
    font-size: 200%;
}

h2.deadman {
    font-size: 300%;
}

