/* EDIT THIS TO REFELCT CHAMPIONGRID HTML PAGE */
a:link {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #C6336E;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #C6336E;
    background-color: transparent;
    text-decoration: none;
}

body {
    font-family: arial;
    color: white;
    background-color: black;
    text-align: center;
    float: below;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.table th {
    border: 1px solid black;
    border-collapse: collapse;
}

.table td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th {
    padding: 2px;
    text-align: center; 
    float: below;
}

td { 
    padding: 2px;
    text-align: center;
    float: below;
}
