/* EDIT THIS TO REFELCT CHAMPIONGRID HTML PAGE */

body {
    font-family: arial;
    color: white;
    background-color: black;
    text-align: center;
    float: below;

}
.table th {
    border: 2px solid black;
    border-collapse: collapse;
}

.table td {
    border: 2px solid black;
    border-collapse: collapse;
    
}

th {
    padding: 8px;
    text-align: center; 
    float: below;
}

td { 
    padding: 8px;
    text-align: center;
    float: below;
}
