/* EDIT THIS TO REFELCT CHAMPIONGRID HTML PAGE */
/*ul.menu {

  display:inline-block; 

}*/

.title {
  font-size: 12px;
}

ul.menu li {
    background: none repeat scroll 0 0 #000;
    border-left: 0 solid #fff;
    border-right: 0 solid #fff;
    float: left;
    font-family: helvetica;
    line-height: 17px;
    margin: 0;
    position: relative; list-style:none
}


ul.menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    padding: 3px 3px;
    text-decoration: none;
    font-size: 13px;

}

  ul.menu li > ul li {
    width:100%;
    transition: all 0.7s ease-in 0s; 
}  

ul.menu li.home-page {
    display:inline-block; 
    background:#000;  
    border:none;
}

      
ul.menu li:hover {
    background:#888; 
    border-right:#fff 1px solid; 
    border-left:#fff 1px solid;
    transition: all 0.7s ease-in 0s;
}


ul.menu li ul {
    display: none;
    left: 0;
    padding: 20px 0 0;
    position: absolute;
    top: 32px;
    width: 250px;
    transition: all 0.7s ease-in 0s;
}


ul.menu li:hover ul {
    display:block;
    transition: all 0.7s ease-in 0s;
    
}


a:link {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #C6336E;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #C6336E;
    background-color: transparent;
    text-decoration: none;
}

body {
    font-family: arial;
    color: white;
    background-color: black;
    text-align: center;
    float: below;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 15px;
    padding-right: 15px;
}
.table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
}

.table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 5px;
    padding-right: 5px;
    
}

th {
    padding: 2px;
    text-align: center; 
    float: below;
}

td { 
    padding: 2px;
    text-align: center;
    float: below;
}
