/* Where customizations for each section will go */
body {
    /*background-image: url("http://img08.deviantart.net/f0d8/i/2014/037/7/2/league_of_legends_flat_design__diana_s_face_by_hotchkissgraphics-d75dpvl.png");*/
    /*  background-image: url("http://img07.deviantart.net/7266/i/2014/037/b/c/lol_flat_design_backgrounds__blitzcrank_by_hotchkissgraphics-d75dpv8.png"); 
    background-image: url("http://img13.deviantart.net/5292/i/2012/295/e/d/vector_lee_sin_wallpaper_by_sovietpancake-d5io64i.jpg");
    background-image: url("http://pre15.deviantart.net/d741/th/pre/f/2014/252/1/b/yasuo___league_of_legends_by_nateag-d7ylgjn.jpg");
    background-image: url("http://img06.deviantart.net/b1cf/i/2014/215/0/6/jinx__league_of_legends__minimalist_wallpaper_by_greenmapple17-d7sq963.png");
    background-image: url("http://orig12.deviantart.net/08a8/f/2012/296/5/2/katarina___the_sinister_blade_by_ignisamaterasu-d5iq3jh.png");
    background-image: url("http://orig15.deviantart.net/e592/f/2012/295/a/9/league_of_legends_minimalism_by_sovietpancake-d5io5fa.jpg") akali; 
    
    background-image: url("http://orig12.deviantart.net/08a8/f/2012/296/5/2/katarina___the_sinister_blade_by_ignisamaterasu-d5iq3jh.png"); */
    background-image: url("http://orig12.deviantart.net/7f23/f/2012/360/a/8/vi___league_of_legends_by_sovietpancake-d5pa5tu.jpg");
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    color: white; 

}

ul.menu {
  margin-left: auto;
  margin-right: auto;

  display:inline-block; 

}

ul.menu li {
    background: none repeat scroll 0 0 #000;
    border-left: 0 solid #fff;
    border-right: 0 solid #fff;
    float: left;
    font-family: helvetica;
    line-height: 17px;
    margin: 0;
    position: relative; list-style:none
}


ul.menu li a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding: 3px 3px;
    text-decoration: none;
}

  ul.menu li > ul li {
    width:100%;
    transition: all 0.7s ease-in 0s; 
}  

ul.menu li.home-page {
    display:inline-block; 
    background:#000;  
    border:none;
}

      
ul.menu li:hover,
ul.menu li.current {
    background:#888; 
    border-right:#fff 1px solid; 
    border-left:#fff 1px solid;
    transition: all 0.7s ease-in 0s;
}


ul.menu li ul {
    display: none;
    left: 0;
    padding: 20px 0 0;
    position: absolute;
    top: 34px;
    width: 200px;
    transition: all 0.7s ease-in 0s;
}


ul.menu li:hover ul {
    display:block;
    transition: all 0.7s ease-in 0s;
    
}


.items {
    border-bottom: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    left: 34px;
    position: absolute;
    top: 0;
    width: 0;
}
