/* Where customizations for each section will go */

.nav a {
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-weight: bold;
}

.item-list h1 {
  margin-right: auto;
  margin-left: auto;
  
}



