/* Where customizations for each section will go */

.nav a {
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
}

.item-list h1 {
  margin-right: auto;
  margin-left: auto;
}
  
ul {
  font-family: Arial, Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: block;
  position: relative;
  float: left;
}

li ul { 
  display: none; 
}

ul li a {
  display: inline;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #2C5463;
  margin-left: 1px;
  white-space: nowrap;
}

ul li a:hover { 
  background: #617F8A;
}

li:hover ul {
  display: inline;
  position: absolute;
}

li:hover li {
  float: none;
  font-size: 11px;
}

li:hover a { 
  background: #617F8A; 
}

li:hover li a:hover { 
  background: #95A9B1; 
}



