div.background
{
  border: 2px solid black;
  width: 350px;
  height: 420px;
}
div.transbox
{
  background-color: #303030;
  border: 1px solid black;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  width: 350px;
  height: 420px;
    display: inline-block; 

}

div.transbox p
{
  margin: 2%;
  font-weight: bold;
  color: #000000;
  opacity:0.9;
  color: white;
  text-align: center;
    display: inline-block; 

}

div.transbox h1 
{
  text-align: center;
  color: white;
    display: inline-block; 

}

body {
    /*background-image: url("http://orig12.deviantart.net/7f23/f/2012/360/a/8/vi___league_of_legends_by_sovietpancake-d5pa5tu.jpg"); */
    background-image: url("http://i.imgur.com/2FWYAfk.jpg");
    background-size: 1400px 750px;
    /*background-size: 1490px 900px; */
    background-repeat: no-repeat;
    color: white; 
    background-color: black;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: arial;
}

/* Right sidebar */
div.background-2
{
  border: 2px solid black;
  width: 350px;
  height: 420px;
  display: inline-block;
  float: right;
}

div.transbox-2
{
  background-color: #303030;
  border: 1px solid black;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  width: 350px;
  height: 420px;
  float: right;
  display: inline-block;
  float: right;

}

div.transbox-2 h1 
{
  text-align: center;
  color: white;
  display: inline-block; 
  float: right;

}
